<div id="<%= dom_id order %>">
  <p>
    <strong>Creation date:</strong>
    <%= order.creation_date %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= order.total %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= order.customer_id %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= order.store_id %>
  </p>

</div>
